.container {
  background-color: #e8e8ea;
  padding: 1rem;
  border-radius: 35px;
  color: black;
  margin-right: 2rem;
  margin-left: 0;
}

.ownMessage {
  background-color: #2196f3;
  color: white;
  margin-right: 0;
  margin-left: 2rem;
}
