.sendInput {
  position: fixed;
  bottom: 0;
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.sendInput input {
  border-radius: 20px;
  padding: 10px 40px 10px 20px;
  border: 1px solid #ccc;
  width: 90%;
  outline: none;
}

.sendInput input:focus {
  border-color: #ec5a13;
}

.sendIcon {
  position: absolute;
  top: 50%;
  right: 8%;
  transform: translateY(-50%);
  color: #555;
  background: none;
  border: none;
  cursor: pointer;
}

.sendIcon:focus,
.sendIcon:hover {
  background: none;
}
